{% extends 'base.html' %}

{% block title %} Top Chef {% endblock %}

{% block content %}
  {% if user.is_superuser %}
    <a class="btn btn-secondary" style="margin-left:1.2%;margin-top:5%;" href="#">
      Create category
    </a>
  {% endif %}
  {% if user.is_authenticated %}
    <a class="btn btn-secondary" style="margin-left:1.2%;margin-top:5%;" href="{% url 'recipe_create' %}">
      Create recipe
    </a>
  {% endif %}

  <div class="row container">
    {% for category in category_list %}
      <div class="col-sm-6 p-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ category.title}}</h5>
            <a href="#" class="btn btn-primary"> <img src="{{category.image.url}} }"height="128" width="128" /></a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
